<h4>
    <%= obj["Building"] %>
</h4>             
<p>
    <%= formatAddress(obj) %><br />
    <%= obj["Notes"] %><br />
</p>

<% if (obj["Built"]) { %>
    <p>
        <strong>Built in:</strong><br />
        <%= obj["Built"] %>
    </p>
<% } %>

<% if (obj["Acquired"]) { %>
    <p>
        <strong>Acquired in:</strong><br />
        <%= obj["Acquired"] %>
    </p>
<% } %>
